.Banner {
    background-color: #f0d3a4;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .BannerImage {
    max-width: 100%;
    height: auto;
  }