.Area1 {
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  background-color: #d1e7d1;
}

.SymbolsInput {
  flex-basis: 65%; /* Take approximately two-thirds of the width */
}

.EfdpChart {
  flex-basis: 30%; /* Take approximately one-third of the width */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Optional: Background for the chart */
  padding: 10px;
}
