.EfdpChartContainer {
    display: flex;
    background-color: gainsboro;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    padding: 20px; /* Optional: Add padding to space the content inside */
    border-radius: 8px; /* Optional: Add rounded corners for a softer appearance */
  }
  
  .CheckboxSection {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .CheckboxSection label {
    text-align: left;
  }
  
  .ChartSection {
    flex: 1;
  }
  