.EfdpChartContainer {
  flex-basis: 35%;
  display: flex;
  background-color: gainsboro;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.CheckboxSection {
  flex-basis: 12%;
  min-width: 12%;
  margin-right: 10px;
  display: flex;
  flex-direction: column; 
  font-size: 11px;
}

.CheckboxSection label {
  text-align: left;
}

.ChartSection {
  flex: 1;
}